#dropdownNavbar{
    position: absolute;
}
.flip-container {
    perspective: 1000px;
    width: 200px;
    height: 200px;
}

.flipper {
    width: 208px;
    height: 208px;
    transform-style: preserve-3d;
    transition: transform 0.2s;
}

.card {
    width: 208px;
    height: 208px;
    position: absolute;
}

.card--front {
    backface-visibility: hidden;
}

.card--back {
    transform: rotateY(180deg);
    backface-visibility: hidden;
}


.card--back img {
    border: 3px solid #000000;
}

img {
    width: 208px;
    height: 208px !important;
    max-width: 140px !important;
}

.rotate {
    transform: rotateY(180deg);
}

.rotateactive {
    transform: rotateY(180deg);
}

.rotateactive .card--back img {
    border: 3px solid #9ee978;
}

/* TICK BASIC*/
.tick {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 0;
    margin: 40px;
}

.tick::before {
    position: absolute;
    left: 0;
    top: 50%;
    height: 50%;
    width: 10px;
    transform-origin: left bottom;
    content: "";
}

.tick::after {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 10px;
    transform-origin: left bottom;
    transform-origin: left bottom;
}

/* TICK CORRECT */
.tick-mark::before {
    background-color: #4ff964;
    transform: translateX(10px) rotate(-45deg);
}

.tick-mark::after {
    width: 100%;
    background-color: #4ff964;
    content: "";
    transform: translateX(10px) rotate(-45deg);
}

/* TICK INCORRECT */

.tick-error::before {
    background-color: #fb0000;
    transform: translateX(40px) rotate(-45deg);
}

.tick-error::after {
    width: 50%;
    background-color: #fb0000;
    content: "";
    transform: translateX(10px) rotate(-45deg);
    
}

/* SVG CLASSES */
.cls-1 {
    fill: #0074ff;
}

.cls-2 {
    fill: #ffb300;
}
.text-xs{
    line-height: 0.25em !important;
}